services:
    mosquitto:
        image: eclipse-mosquitto:2.0.22
        container_name: mosquitto
        ports:
            - 1883:1883
            - 8883:8883
            - 9001:9001
        volumes:
            - ./mosquitto/config:/mosquitto/config
            - ./mosquitto/data:/mosquitto/data
            - ./mosquitto/log:/mosquitto/log
        networks:
            IoT-project-net:
                ipv4_address: 172.100.10.10

    processor:
        build:
            context: ./processor
        container_name: processor
        depends_on:
            mosquitto:
                condition: service_started
            db:
                condition: service_healthy
        env_file:
            - .env
        expose:
            - "5000"
        networks:
            IoT-project-net:
                ipv4_address: 172.100.10.20

    dashboard:
        build:
            context: ./dashboard
        container_name: dashboard
        depends_on:
            - processor
        ports:
            - "80:5000"
        networks:
            IoT-project-net:
                ipv4_address: 172.100.10.30

    db:
        image: postgres:16
        container_name: db
        environment:
            - POSTGRES_USER=${DB_USER}
            - POSTGRES_PASSWORD=${DB_PASSWORD}
            - POSTGRES_DB=${DB_DB}
        volumes:
            - postgres_data:/var/lib/postgresql/data
        ports:
            - "5432:5432"
        networks:
            IoT-project-net:
                ipv4_address: 172.100.10.40
        restart: always
        healthcheck:
            test: ["CMD", "pg_isready", "-U", "${DB_USER}", "-d", "${DB_DB}"]
            interval: 5s
            timeout: 5s
            retries: 5

networks:
  IoT-project-net:
      driver: bridge
      ipam:
        driver: default
        config:
          - subnet: 172.100.10.0/24

volumes:
    postgres_data:
